<h1>Ponto Delivery</h1>

<%= form_for :session, url: sign_in_path do |form| %>
  <div class="field">
    <%= form.label :email, "Email" %><br />
    <%= form.email_field :email, autofocus: true, id: "loginEmail" %>
  </div>

  <div class="field">
    <%= form.label :password, "Senha" %><br />
    <%= form.password_field :password, autocomplete: "off", id: "loginPassword" %>
  </div>
  <div class="actions">
    <%= form.submit "Entrar" %>
  </div>
  <p>Novo usuario? <%= link_to "Se inscreva agora!", new_user_path %></p>
<% end %>
