<div class="d-flex justify-content-center">
  <div class="pt-5">
    <div class="pt-5">
            <div class="px-5 pt-3 pb-3 border shadow rounded">

              <%= form_for :session, url: sign_in_path do |form| %>
                <div class="text-center mt-2">
                  <h1>.Delivery</h1>
                </div>

                <div class="mt-5">
                  <%= form.label :email, "Email" %><br />
                  <%= form.email_field :email, autofocus: true, id: "loginEmail", class: "form-control" %>
                </div>

                <div class="mt-3">
                  <%= form.label :password, "Senha" %><br />
                  <%= form.password_field :password, autocomplete: "off", id: "loginPassword", class: "form-control" %>
                </div>

                <div class="mt-3">
                  <%= form.submit "Entrar", class: "mt-3 w-100 btn btn-lg btn-primary" %>

                  <% if @error %>
                    <div><p class="text-danger mt-2">usuário não encontrado!</p></div>
                  <% end %>
                </div>


                <div class="mt-5">
                  <p>Novo usuário? <%= link_to "Se inscreva agora!", new_user_path(:newClient => 1), class: "text-decoration-none" %></p>
                <div>
                 <% end %>
                </div>
              </div>
            </div>
  </div>
</div>
</div>