<div class="row justify-content-center mt-5">
  <div class="col-5 border shadow rounded p-4">
    <h1 class="font-weight-lighter text-center">Ponto Delivery</h1>
    <%= form_for :session, url: sign_in_path, class: "form-horizontal" do |form| %>

      <div class="form-group p-1">
        <%= form.label :email, "Email" %>
        <%= form.email_field :email, autofocus: true, id: "loginEmail", class: "form-control" %>
      </div>

      <div class="form-group p-1">
        <%= form.label :password, "Senha" %><br />
        <%= form.password_field :password, autocomplete: "off", id: "loginPassword", class: "form-control" %>
      </div>

      <div class="form-group p-1", align="center">
        <%= form.submit "Entrar", class: "btn btn-outline-primary btn-block mt-4" %>
        <% if @error %>
          <div><p>Usuário não encontrado!</p></div>
        <% end %>
      </div>
    <% end %>

    <div class="p-1", align="center">
      Novo usuario?
      <%= link_to "Se inscreva agora!", new_user_path(:new_user_non_admin => 1) %>
    </div>
  </div>
</div>