<%= link_to "Voltar", deliveries_path %>
<h1>Nova venda</h1>
<%= form_with model: @delivery do |form| %>
  <div>
    <%= form.label :tipo, "Perfil de usuário" %><br>
      <%= form.select :status, ['Em andamento', 'Concluido']  %>
    <% end %>
    <% @delivery.errors.full_messages_for(:status).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Criar Entrega" %>
  </div>
<% end %>