<%= link_to "Voltar", @user %>
<h1>Editar usuário</h1>
<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name, "Nome" %><br>
    <%= form.text_field :name , id: "newUserName", placeholder: "Seu nome"  %>
    <% @user.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :birth, "Nascimento" %><br>
    <%= form.date_field :birth , id: "newUserBirth"  %>
    <% @user.errors.full_messages_for(:birth).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :email, "Email" %><br>
    <%= form.email_field :email , id: "newUserEmail", placeholder: "seuEmail@mail.com"  %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :cpf, "CPF" %><br>
    <%= form.text_field :cpf , id: "newUserCPF", placeholder: "xxx.xxx.xxx-xx"  %>
    <% @user.errors.full_messages_for(:cpf).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :rg, "RG" %><br>
    <%= form.text_field :rg  , id: "newUserRG" %>
    <% @user.errors.full_messages_for(:rg).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :street, "Rua" %><br>
    <%= form.text_field :street , id: "newUserStreet", placeholder: "Ex. Manoel Braga"  %>
    <% @user.errors.full_messages_for(:street).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :number, "Numero da casa" %><br>
    <%= form.text_field :number , id: "newUserNumber", placeholder: "Ex. 999"  %>
    <% @user.errors.full_messages_for(:number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :tipo, "Perfil de usuário" %><br>
    <%= form.select :tipo, ['Administrador', 'DeliveryMan', 'Cliente'] , id: "newUserTipo"  %>
    <% @user.errors.full_messages_for(:tipo).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :password, "Senha" %><br>
    <%= form.password_field :password , id: "newUserPassword", placeholder: "Min. 6" %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :password_confirmation, "Confirmação de senha" %><br>
    <%= form.password_field :password_confirmation , id: "newUserPasswordConfirmation" %>
    <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


  <div>
    <%= form.submit "Atualizar Usuário" %>
  </div>
<% end %>