<h1>Novo usuário</h1>
<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name , id: "newUserName" %>
    <% @user.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :birth %><br>
    <%= form.date_field :birth , id: "newUserBirth" %>
    <% @user.errors.full_messages_for(:birth).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email , id: "newUserEmail"%>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :cpf %><br>
    <%= form.text_field :cpf , id: "newUserCPF" %>
    <% @user.errors.full_messages_for(:cpf).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :rg %><br>
    <%= form.text_field :rg , id: "newUserRG" %>
    <% @user.errors.full_messages_for(:rg).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :street %><br>
    <%= form.text_field :street , id: "newUserStreet" %>
    <% @user.errors.full_messages_for(:street).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :number %><br>
    <%= form.text_field :number , id: "newUserNumber" %>
    <% @user.errors.full_messages_for(:number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :tipo %><br>
    <%= form.select :tipo, ['Administrador', 'DeliveryMan', 'Cliente'] , id: "newUserTipo", name: 'newUserTipo' %>
    <% @user.errors.full_messages_for(:tipo).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>