<%= link_to "Voltar", users_path %>
<h1>Perfil de usuário</h1>
<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Nascimento</th>
    <th>Email</th>
    <th>CPF</th>
    <th>RG</th>
    <th>Perfil de usuário</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.birth %></td>
      <td><%= @user.email %></td>
      <td><%= @user.cpf %></td>
      <td><%= @user.rg %></td>
      <td><%= @user.user_type %></td>
      <td><%= link_to "Endereço", user_address_path(:user_id => @user.id)  %></td>
      <td><%= link_to "Editar", edit_user_path(@user) , id:'Editar', name:'Editar'%></td>
      <% if @user.user_type != 'Administrador' %>
        <td><%= link_to "Deletar", user_path(@user), method: :delete,
                        data: {confirm: "Você está seguro desta ação?"} %></td>
      <% end %>
    </tr>
  </tbody>
</table>