<%= link_to "Voltar", posts_path %>
<h1>Nova entrega</h1>
<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :user_id, "Entregador" %><br>
    <%= form.select :user_id, @users.collect {|user| [user.name, user.id]} %>
    <% @post.errors.full_messages_for(:user_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status, "Status da entrega" %><br>
      <%= form.select :status, [['Em andamento', :progress], ['Concluido', :concluded]]  %>
    <% @post.errors.full_messages_for(:status).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Criar Entrega" %>
  </div>
<% end %>