<%= form_with model: @product do |form| %>
  <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
  
        <ul>
          <% product.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :name, "Nome do produto" %>
      <%= form.text_field :name %>
    </div>
  
    <div class="field">
      <%= form.label :price, "Preço" %>
      <%= form.number_field :price, min: 0.0, step: 0.01 %>
    </div>

    <div>
      <%= form.label :quantity_product, "Quantidade" %><br>
      <%= form.number_field :quantity_product, min: 1, steps: 1 %>
    </div>

    <%= hidden_field_tag(:sale_id, @sale.id) %>
    <%= hidden_field_tag(:post_id, @post.id) %>
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>