<%= form_with model: @product do |form| %>
  
    <div class="field">
      <%= form.label :name, "Nome do produto" %>
      <%= form.text_field :name %>
      <% @product.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div class="field">
      <%= form.label :price, "Preço(por unidade)" %>
      <%= form.number_field :price, min: 0.0, step: 0.01 %>
      <% @product.errors.full_messages_for(:price).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="field">
      <%= form.label :discount, "Desconto(por unidade)" %>
      <%= form.number_field :discount, min: 0.0, step: 0.01 %>
      <% @product.errors.full_messages_for(:discount).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :product_quantity, "Quantidade" %><br>
      <%= form.number_field :product_quantity, min: 1, steps: 1 %>
      <% @product.errors.full_messages_for(:product_quantity).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <%= hidden_field_tag(:sale_id, @sale.id) %>
    <%= hidden_field_tag(:post_id, @post.id) %>
    <div class="actions">
      <%= form.submit button_text %>
    </div>
<% end %>