<%= link_to "Voltar", sale_path(@sale, :post_id => @post.id) %>
<h1>Produto</h1>
<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Preço</th>
    <th>Disconto</th>
    <th>Quantidade</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @product.name %></td>
      <td><%= number_to_currency @product.price, unit: "R$" %></td>
      <td><%= number_to_currency @product.discount, unit: "R$" %></td>
      <td><%= @product.product_quantity %></td>
      <% if logged_in? %>
        <% if isAdmin? %>
          <td><%= link_to "Editar", edit_product_path(@product, :sale_id => @sale.id, :post_id => @post.id) %></td>
          <td><%= link_to "Deletar", product_path(@product, :sale_id => @sale.id, :post_id => @post.id), method: :delete,
                          data: {confirm: "Você está seguro desta ação?"} %></td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>