<%= link_to "Voltar", sale_path(@sale, :post_id => @post.id) %>
<h1>Editar venda</h1>
<%= form_with model: @sale do |form| %>
  <div>
    <%= form.label :name_client, "Nome do cliente" %><br>
    <%= form.text_field :name_client %>
    <% @sale.errors.full_messages_for(:name_client).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :phone_client, "Telefone" %><br>
    <%= form.text_field :phone_client %>
    <% @sale.errors.full_messages_for(:phone_client).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :street, "Rua" %><br>
    <%= form.text_field :street %>
    <% @sale.errors.full_messages_for(:street).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :number, "Número da casa" %><br>
    <%= form.text_field :number %>
    <% @sale.errors.full_messages_for(:number).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :payment_type, "Pagamento" %><br>
    <%= form.select :payment_type, [['Dinheiro', :money], ['Cartão', :card]] %>
    <% @sale.errors.full_messages_for(:payment_type).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <%= hidden_field_tag(:post_id, @post.id) %>
  <div>
    <%= form.submit "Atualizar Venda"%>
  </div>
<% end %>