<%= link_to "Voltar", homeAdmin_path %>
<h1>Listagem de vendas</h1>
<%= link_to "Adicionar venda", new_sale_path %>
<table>
  <thead>
  <tr>
    <th>Nome do cliente</th>
    <th>Pagamento</th>
  </tr>
  </thead>
  <tbody>
  <% @sales.each do |sale| %>
    <tr>
      <td><%= link_to sale.name_client, sale %></td>
      <td><%= sale.payment_type %></td>
      <td><%= sale.id  %></td>
    </tr>
  <% end %>
  </tbody>
</table>